@{
    ViewData["Title"] = "Assignments603";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

    <div class="center" id="title">
        <div class="center-in">
            <h1 class="text-center">Welcome To Assignment603!</h1>
        </div>
        <div style="margin-top: 50px; margin-bottom: 150px;">
            <div class="float-div">
                <a href="@Url.Action("Create", "User")" id="btn1" value="Create" class="btn btn-warning">Create</a>
            </div>
            <div class="float-div">
                <a href="@Url.Action("Login", "Account")" type="button" value="Login" class="btn btn-dark" id="btn1">Login</a>
            </div>
        </div>
    </div>